*
{
    padding: 0; margin: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    font-family: 'Oleo Script Swash Caps', cursive;
    margin-bottom: 30px;
    border-bottom: 2px solid #EB233C;
    display: inline-block;
}
/* Start Header */

/* Start Navbar */
.bg-light{
    transition: all 0.8s ease-in;
    background: rgb(68, 51, 68)!important;
}
.navbar-light .navbar-nav .nav-link {
    color: #E1DBDB;
    padding-right: 25px;
}
.navbar-light .navbar-nav .nav-link:hover{
    background-color: #665566;
    color: #fff;
    border-bottom: 2px solid #EB233C;
}
.navbar-light .navbar-nav .active>.nav-link{
    background-color: #665566;
    color: #fff;
    border-bottom: 2px solid #EB233C;
}
.navbar-light .navbar-brand{
    font-family: 'Oleo Script Swash Caps', cursive;
    color: #ffffff;
    font-size: 26px;
}
.navbar-light .navbar-brand:hover{
    color: #EB233C;
}
/* End Navbar */

/* Start Welcom */
.welcom
{
    background-attachment: fixed;
    background-image: linear-gradient(rgba(15, 5, 20, 0.84),rgba(15, 5, 20, 0.84)) , url(../imags/background.jpg);
    background-position:top center;
    background-size: cover;
    width: 100%;
    text-align: center;
    color: white;
}
.welcom .Ethereal{
    padding: 280px 0px 220px;
}
.welcom .Ethereal h2{
    font-size: 50px;
}
.welcom .Ethereal span{
    color: #EB233C;
}
.welcom .Ethereal p{
    font-size: 18px;
    margin-bottom: 80px;
}
.welcom .Ethereal .button{
    border: rgba(204, 204, 204, 0.18) 1px solid;
    padding: 12px 35px;
    border-radius: 25px;
    font-size: 15px;
    text-decoration: none;
    color: #ccc;
}
.welcom .Ethereal .button:hover{
    text-decoration: none;
    background-color: #ccc;
    color: black;
} 
/* End Welcom */
/* End Header */

/* Start Elementum */
.elementum{
    margin-top: 100px;
}
.elementum i{
    font-size: 22px;
    color: #EB233C;
    padding-top: 35px;
    padding-left: 25px;
}
/* End Elementum */

/* Start Ourwork */
.ourwork{
    background-color: rgba(235, 213, 235, 0.26);
    margin-top: 50px;
    padding-top: 50px;
    width: 100%;
}
.ourwork img{
    margin-top: 30px;
    margin-right: 15px;
    padding-right: 35px;
}
.ourwork a{
    margin-top: 30px;
    text-decoration: none;
    padding: 12px 35px;
    border-radius: 25px;
    font-size: 15px;
    color: white;
    background-color: #EB233C;
    display: inline-block;
    margin-bottom: 35px;
}
/* End Ourwork */

/* Start OurTestimonials */
.our-testimonials{
    margin-top: 50px;
}
.slide{
    background-color: rgba(235, 213, 235, 0.26);
    padding: 20px 20px 10px;
    border-radius: 10px;
    height: 220px;
    margin-bottom: 40px;
}
 .carousel-indicators li{
     background-color: #f59fa9;
     width: 12px;
     height: 12px;
     border-radius: 50%;
     margin-right: 12px;
 }
 .carousel-indicators li:hover{
     background-color: #EB233C;
 }
 .carousel-inner .carousel-item img{
    width: 9%;
    margin-right: 70%;
    margin-top: 3%;
 }
 .carousel-inner .carousel-item p{
     color: rgb(53, 52, 52);
     text-align: justify;
     font-size: 18px;
}
 
/* End OurTestimonials */

/* Start Subscribe  */
.subscribe{
    background-attachment: fixed;
    background-image: linear-gradient(rgba(15, 5, 20, 0.84),rgba(15, 5, 20, 0.84)) , url(../imags/background.jpg);
    background-position:top center;
    background-size: cover;
    width: 100%;
    text-align: center;
    color: white;
    position: relative;
}
.subscribe .subscribe-now{
    text-align: left;
}
.subscribe h3{
    font-family: 'Oleo Script Swash Caps', cursive;
    padding-top: 50px;
    margin-bottom: 30px;
    border-bottom: 2px solid #EB233C;
    display: inline-block;
}
.subscribe .subscribe-now p{
    margin-bottom: 25px;
}
.subscribe .subscribe-now a{
    padding: 12px 35px;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px 25px 25px 25px;
    font-size: 15px;
    background-color: #EB233C;
    margin-top: 95px;
}
/* End Subscribe */

/* Start About Us */
.about-us{
    margin-top: 50px;
}
.about-us p{
    text-align: justify;
}
.about-us span{
    color: #EB233C;
    font-size: 55px;
    font-weight: 200;
}
.about-us h5{
    margin-top: 0 !important;
}
/* End About Us */

/* Start Contact */
.contact{
    background-color: rgba(235, 213, 235, 0.26);
    margin-top: 50px;
    padding-top: 50px;
    width: 100%;
}
.contact .in{
    width: 280px;
    height: 20px;
    padding: 17px 15px;
    font-size: 14px;
    line-height: 1.42857;
    color: #242424;
    background-color: transparent;
    border-style: none;
    border-radius: 0px;
    box-shadow: none;
    border-bottom: 2px solid #EB233C;
    margin-top: 25px;
}
.contact textarea{
    float: left;
    margin-left: 35px;
    margin-top: 25px;
    height: 107px;
    margin-bottom: -20px;
    padding: 10px;
    border: 2px solid #EB233C;
}
.contact a{
    padding: 12px 35px;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px 25px 25px 25px;
    font-size: 15px;
    background-color: #EB233C;
    margin-top: 95px;
    margin-bottom: 35px;
}
.contact .n{
    color: #EB233C;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-weight: bold;
    margin: 15px 85px 20px 0;
}
.contact p{
    font-weight: bold;
    text-align: justify;
    margin-left: 95px;
}
.contact span i{
    color: #EB233C;
    margin-right: 10px;
}
.contact .s{
    margin-right: 95px;
}
/* End Contct */
/* Start Footer */
footer{
    margin-top: 20px;
}
footer p{
    font-size: 20px;
}
footer .name{
    color: #EB233C;
    font-weight: bold;
}
footer a{
    background-color: black;
    color: white;
    border-radius: 100%;
    width: 35px;
    padding: 10px 10px;
    font-size: 12px;
    text-decoration: none;
    margin-right: 15px;
    padding-top: 17px;
    transition: 0.5s all ease-in-out;
}
footer a:hover{
    background-color: #EB233C;
    color: white;
    text-decoration: none;
}
/* End Footer */